<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
  <add key="All" value="(Aggregate source)"/>
  </activePackageSource>
<disabledPackageSources>
    <add key="NuGet" value="true"/>
</disabledPackageSources>
  <packageSources>
    <add key="AdskNuGetGallery" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/nuget-gallery" />
    <add key="AutodeskNET" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-3p-nuget" />
    <add key="NuGet" value="https://www.nuget.org/api/v2" />
  </packageSources>
  <packageSourceCredentials>
    <AutodeskNET>
      <add key="Username" value="revit" />
      <add key="ClearTextPassword" value="ope**00" />
    </AutodeskNET>
  </packageSourceCredentials>
</configuration>
